
.moto{
    color: orange;
}
.link-add{
    color: rgb(49, 49, 56);
    font-weight: 700;
}
.link-button{
    text-decoration: none;
    background-color: red;
    padding: 10px 25px;
    border-radius: 5px;
    color: wheat;
    font-weight: 700;
}
.home{
    text-decoration: none;
    color: black;
    font-weight: 200;
}
.headline{
    font-weight: 900;
    font-size: xxx-large;
}
#three-quarter-width{
    width: 65%;
}
#quarter-width{
    width: 35%;
}
.gl-decoration{
    text-decoration: dashed;
    color: rgb(11, 175, 240);
}
.middle-font{
    font-weight: 400;
}
.news{
    display: flex;
}
.view-more-link-add{
    color: rgb(49, 49, 56);
    font-weight: 700;
    text-decoration: none;

}
.title-link-add{
    color: rgb(49, 49, 56);
    font-weight: 700;
    text-decoration: none;
}